@{
    ViewBag.Title = "Sobre";
}

<div class="conteudo">

    <div class="jumbotron">
        <h1>Sobre</h1>
        <p class="lead">Informações do sistema.</p>
        <p><a class="btn btn-info" href="@Url.Action("Index", "Home")">&laquo; Voltar</a></p>
    </div>

    <h3>Sistema de Controle de Tarefas - UNIP.</h3>
    <p>Este sistema foi desenvolvido para a conclusão do Projeto Integrado Multidisciplinar VIII (PIM8) do Curso Superior de Analise e Desenvolvimento de Sistemas da Universidade UNIP.</p>
    <p>
        Utilizando os conhecimentos adiquiridos nas aulas de Desenvolvoimento de Software para Internet, foi possivel desenvolver essa solução com o objetivo de servir como ferramenta para o controle e organização de tarefas.
        <br />
        <br />
        <h4>Desenvolvido por:</h4>
        <h5>Thiago Rocha Soares - RA 1642632</h5>
        <h5>Wanderley José da Silva – RA 1653833 </h5>
        <h5>Alex do Nascimento Barbosa – RA 1649331 </h5>
        <br />
        <h6>Obrigado por utilizar nosso sistema.</h6>
</div>
